@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cabinet Grotesk";
  scroll-behavior: smooth;
}

.hero_text {
  font-size: 48px;
}

.hero_bg {
  width: 90%;
  right: 0%;
  bottom: 40px;
  z-index: -1;
}

.hero_svg {
  left: 200px;
  animation: moveUpDown 2s ease-in-out infinite;
  bottom: 100px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0); /* initial position */
  }
  50% {
    transform: translateY(-20px); /* move up by 20px */
  }
  100% {
    transform: translateY(0); /* return to initial position */
  }
}

.hero_btn:hover {
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
}

.marquee-container {
  position: relative;
  width: 100%;
  height: 200px; /* adjust the height to your needs */
  /* overflow: hidden; */
}

.marquee {
  position: absolute;
  /* top: 50%; */
  left: 0;
  width: 110%;
  height: 40px; /* adjust the height to your needs *//* rotate at 45deg angle */
  background-color: #00ff00; /* green background */
  padding: 10px;
}

.marquee-1 {
  top: -55%;
  transform: translateY(-50%) rotate(-2deg); 
}

.marquee-2 {
  top: -53%;
  transform: translateY(-50%) rotate(2deg); /* rotate at -45deg angle */
}

.marquee-content {
  white-space: nowrap;
  animation: marquee-text1 15s linear infinite;
}
.marquee-content2 {
  justify-content: center;
  animation: marquee-text 15s linear infinite;
}


@keyframes marquee-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-text1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
